# deps
/node_modules
**/node_modules/
editors/vscode-modeller/out/
editors/vscode-modeller/*.vsix
editors/vscode-modeller/server/
**/.modeller/recovery/

# generated content
.source
/samples/child-care/generated/
/samples/child-care/.modeller/generated*-manifest.json

# test & build
/coverage
/.next/
/out/
/build
**/bin/
**/obj/
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts
